{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/tags.css">
<div class="container">
  <div class="tags-page">
      <div class="tags-container">
          {% for tag in tags[:24] %}
              {% if tag.photos %}
              <div class="tag-card">
                  <div class="photos">
                      {% for photo in tag.photos[:3] %}
                      <div class="photo-item">
                        <a href="/photos/{{photo.id}}"><img src="{{ photo.url_link }}" alt="Photo tagged {{ tag.name }}"></a>
                      </div>
                      {% endfor %}
                  </div>
                  <a href="/tag/{{ tag.name }}/photos/" class="tag-name-overlay">
                      <h2>#{{ tag.name }}</h2>
                  </a>
              </div>
              {% endif %}
          {% endfor %}
      </div>
  </div>
</div>
{% endblock %}