env
config.json
secrets.yml

# Ігноруємо папки та файли, створені IDE
.idea/
*.iml

# Ігноруємо файли кешу та логів
/cache/*
logs/*.log

# Ігноруємо файли, створені під час побудови проекту
/build/*
/dist/*

# Ігноруємо файли, створені засобами тестування
/tests/results