html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #20232a;
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.header .logo a {
    font-size: 24px;
    color: #61dafb;
    text-decoration: none;
    font-weight: bold;
}

.header .nav {
    flex-grow: 1;
    text-align: center;
}

.header .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 100%;
}

.header .nav ul li {
    position: relative;
    height: 100%;
}

.header .nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    height: 100%;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s;
}

.header .nav ul li a:active {
    background-color: #20232a;
    color: #61dafb;
    border-color: #20232a;
    transform: scale(0.5);
}

.header .nav ul li a:hover {
    background-color: #61dafb;
    color: #20232a !important;
    border-color: #61dafb;
    transform: scale(1.2);
}

.header .nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #61dafb;
    transition: width 0.3s;
}


@media (max-width: 768px) {
    .header .nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .header .nav ul li a {
        padding: 15px 20px;
    }
}

.user-profile-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-avatar-header {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

.user-avatar-header:hover {
    border-color: #61dafb;
}

.user-name-header {
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.user-name-header:hover {
    color: #61dafb;
}

.user-actions {
    display: flex;
    gap: 15px;
    align-items: center;

}

.user-actions a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #61dafb;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
}

.user-actions a:hover {
    background-color: #61dafb;
    color: #20232a;
    border-color: #61dafb;
    transform: scale(1.1);
}

.user-actions .register {
    margin-left: 15px;
}

.footer {
    background-color: #20232a;
    color: white;
    padding: 20px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container p {
    margin: 0;
    font-size: 14px;
}

.footer-nav {
    display: flex;
    gap: 15px;
}

.footer-nav a {
    color: #61dafb;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: #ffffff;
}

.content {
    flex: 1;
}

.add-button {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid #61dafb;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 6px;
}

.add-button:hover {
    background-color: #61dafb;
    transform: scale(1.07);
}

.plus-icon {
    font-size: 24px;
    color: #61dafb;
    font-weight: bold;
    transition: color 0.3s;
}

.add-button:hover .plus-icon {
    color: #20232a;
    transform: scale(1.07);
}

.logo img {
    max-width: 45px;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .logo img {
        max-width: 120px;
    }
}

@media (max-width: 480px) {
    .logo img {
        max-width: 100px;
    }
}

.search-bar {
    display: flex;
    align-items: center;
    margin: 0 20px;
    max-width: 300px;
    width: 100%;
}

.search-bar form {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 8px 12px;
    border: 2px solid #61dafb;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.search-bar input[type="text"]:focus {
    border-color: #ffffff;
    outline: none;
}

.search-bar button {
    height: 40px;
    margin-left: 2px;
    padding: 8px 12px;
    background-color: transparent;
    color: #61dafb;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    color: #20232a;
    background-color: #61dafb;
    border-color: #61dafb;
    transform: scale(1.08);
}

@media (max-width: 768px) {
    .search-bar {
        margin: 0;
        max-width: 100%;
    }

    .search-bar button {
        font-size: 12px;
        padding: 6px 10px;
    }
}

.search-icon {
    width: 20px;
    height: 20px;
}

.nav {
    margin: 0;
    padding: 1rem 0;
    width: auto;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.nav a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.nav a.active {
    color: #61dafb !important;
    font-weight: 500;
}

.nav a:hover {
    color: #61dafb;
    opacity: 0.8;
}

.tab-icon {
    width: 26px;
    height: 26px;
    margin-right: 5px;
}