.styled-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.styled-row .tag-link {
    text-decoration: none;
}

.styled-row p {
    background-color: #2E3740;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    margin: 5px 0;
    cursor: pointer;
}

.styled-row p:hover {
    background-color: #ED3B1C;
    color: white;
}

 .page-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
  }

  .left-section, .right-section {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 45%;
    background-color: #f9f9f9;
  }

  .left-section h2, .right-section h2 {
    margin-bottom: 16px;
  }

  .left-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .left-section input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .left-section button {
    padding: 10px;
    background-color: #2E3740;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .left-section button:hover {
    background-color: #ED3B1C;
  }

  .styled-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .styled-row .tag-link {
    text-decoration: none;
  }

  .styled-row p {
    background-color: #2E3740;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }

  .styled-row p:hover {
    background-color: #ED3B1C;
  }

.card-tags {
    font-size: 13px;
    color: #444;
    background: none;
    margin: 0;
    padding: 0;
}

.card-tags .tag-link {
    text-decoration: none;
    color: #6C757D;
    border-radius: 3px;
    margin-right: 5px;
    transition: all 0.3s ease;
}

.card-tags .tag-link:hover {
    color: #495057;
    background-color: #F8F9FA;
    border-color: #CED4DA;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.pagination-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    border: 1px solid #2E3740;
    border-radius: 4px;
    color: #2E3740;
    background-color: white;
    transition: all 0.3s ease;
}

.pagination-link:hover {
    background-color: #2E3740;
    color: white;
    border-color: #2E3740;
}

.pagination-link.active {
    background-color: #61dafb;
    color: white;
    border-color: #61dafb;
}

.photo-count {
    font-size: 18px;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.photo-count .count {
    font-size: 19px;
    font-weight: bold;
    color: #2E3740;
}

a {
    text-decoration: none;
}
