<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/header-style.css">
    <link rel="stylesheet" href="/static/css/photo-card-style.css">

</head>
  <body>
    <header class="header">
    <div class="container">
        <div class="logo">
            <a href="/web">Switch Crew</a>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/web">Main</a></li>
                <li><a href="/web/photos/photos/">Photos</a></li>
                <li><a href="/web/tags/">Tags</a></li>
            </ul>
        </nav>

        {% if user %}
        <div class="user-profile-header">
            <a href="/web/upload_photo">
                <button class="add-button">
                    <span class="plus-icon">+</span>
                </button>
            </a>
            <a href="/web/page/{{ user.username }}">
                <img src="{{ user.avatar_url }}" alt="{{ user.username }}" class="user-avatar-header">
            </a>
            <a href="/web/page/{{ user.username }}" class="user-name-header">{{ user.username }}</a>
        </div>
        <div class="user-actions">
            <a href="/web/auth/logout" class="register">Log out</a>
        </div>
        {% else %}
        <div class="user-actions">
            <a href="/web/login/" class="login">Login</a>
            <a href="#" class="register">Sign up</a>
        </div>
        {% endif %}
    </div>
</header>

<main class="content">
    {% block content %}

    {% endblock %}
</main>

<footer class="footer">
    <div class="footer-container">
        <p>&copy; 2024 Switch Crew. All rights reserved.</p>
        <nav class="footer-nav">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Contact Us</a>
        </nav>
    </div>
</footer>

</body>

  </html>

