{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/all_photos.css">
<p class="centered-title">{{ title }}</p>

<div class="card-container-wrapper">
    <div class="card-container">
        {% for photo in photos %}
        <div class="card">
            <a href="/photos/{{photo.id}}"><img src="{{ photo.url_link }}" alt="Photo" class="card-img"></a>
                <div class="card-content">
                    <div class="user-link-info">
                        <a href="/page/{{ photo.owner.username }}">
                        <img src="{{ photo.owner.avatar_url }}" alt="Avatar" class="comment-avatar">
                    </a>
                    <a href="/page/{{photo.owner.username}}">
                        <p class="author" >{{ photo.owner.username }}</p>
                    </a>
                    </div>
                    <p class="description">{{ photo.description }}</p>
                    <div class="card-tags">
                        {% for tag in photo.tags %}
                        <a href="/tags/{{ tag.name }}/photos/" class="tag-link-photo">
                            #{{ tag.name }}
                        </a>
                        {% endfor %}
                    </div>
                    <div class="comments-section">
                        {% for comment in photo.comments[:1] %}
                        <div class="comment">
                            <a href="/page/{{ comment.user.username }}" class="comment-author">{{ comment.user.username }}</a>
                            <p class="comment-text">{{ comment.content }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="pagination">
    {% if current_page > 1 %}
    <a href="?page={{ current_page - 1 }}" class="pagination-link">Previous</a>
    {% endif %}
    {% for page_num in range(1, total_pages + 1) %}
    <a href="?page={{ page_num }}" class="pagination-link {% if page_num == current_page %}active{% endif %}">
        {{ page_num }}
    </a>
    {% endfor %}
    {% if current_page < total_pages %}
    <a href="?page={{ current_page + 1 }}" class="pagination-link">Next</a>
    {% endif %}
</div>

{% endblock %}
