{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/page-style.css">

<div class="profile-container">
    {% if user_page.id == user.id and  user.is_active == False %}
        <h5 class="alarm-message">Your account is not verified. Please verify account by email</h5>
    {% endif %}
    <div class="user-profile">
        {% if user_page.avatar_url %}
            <div class="user-avatar-section">
                <img src="{{ user_page.avatar_url }}" alt="User Avatar" class="avatar">
            </div>
        {% endif %}
        <div class="user-info-section">
            <h1 class="username">{{ user_page.username }}</h1>
            {% if user_page.first_name and user_page.last_name %}
            <p class="fullname"><strong>{{ user_page.first_name }} {{ user_page.last_name }}</strong></p>
            {% endif %}
            {% if user_page.country %}
            <p class="country"><strong>Country: </strong>{{ user_page.country }}</p>
            {% endif %}
            {% if user_page.birth_date %}
            <p class="birthdate"><strong>Birth Date: </strong>{{ user_page.birth_date }}</p>
            {% endif %}
            <p class="registration-date"><strong>Registered: </strong>{{ Date_reg }}</p>

            {% if user_page.id == user.id %}
            <button id="edit-profile-btn" class="save-button">Edit Profile</button>
            <form id="edit-profile-form" class="hidden">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" value="{{ user_page.first_name }}">

                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" value="{{ user_page.last_name }}">

                <label for="country">Country:</label>
                <input type="text" id="country" name="country" value="{{ user_page.country }}">

                <label for="birth_date">Birth Date:</label>
                <input type="date" id="birth_date" name="birth_date" value="{{ user_page.birth_date }}">

                <button type="button" id="save-profile-btn" class="save-button">Save Changes</button>
            </form>
            {% endif %}
            {% if user_page.id == user.id and  user.is_active == False %}
                <button>Verify email</button>
            {% endif %}
        </div>
    </div>
    <p class="photo-count">
        <span class="count">{{ amount_of_photos }}</span> Publications
    </p>
</div>

<div class="card-container">
    {% if photos %}
        {% for photo in photos %}
        <div class="card">
            <a href="/photo/{{photo.id}}">
                <img src="{{ photo.url_link }}" alt="Photo" class="card-img">
            </a>
            <div class="card-content">
                <a href="/page/{{photo.owner.username}}">
                    <p class="author">{{ photo.owner.username }}</p>
                </a>
                <p class="description">{{ photo.description }}</p>
                <div class="card-tags">
                    {% for tag in photo.tags %}
                    <a href="/tag/{{ tag.name }}/photos/" class="tag-link">
                        #{{ tag.name }}
                    </a>
                    {% endfor %}
                </div>
                <div class="comments-section">
                    {% for comment in photo.comments[:1] %}
                    <div class="comment">
                        <a href="/page/{{ comment.user.username }}" class="comment-author">{{ comment.user.username }}</a>
                        <p class="comment-text">{{ comment.content }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h3>{{ user_page.username }} doesn't have photos yet.</h3>
    {% endif %}
</div>
<script src="/static/scripts/change-profile.js"></script>
{% endblock %}